/* Main-Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
/* Logo */
.logo-icon {
    border: 1px solid;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-image: url(../assets/logibit.jpg);
    border-radius: 50%;
}

/* Navigasi */
.navi-content {
    display: flex;
    cursor: pointer;
}
nav >a {
    border: 1px solid;
    padding: 5px 10px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: black;
}
.nav-border-left {
    border-radius:12px 0 0 12px;
}
.nav-border-right {
    border-radius:0 12px 12px 0;
}

/* Banner Image */
.body-content {
    background-image: linear-gradient(to bottom,  #98FF98, #FFFACD);
}
.banner-image {
    height: 450px;
    display: block;
}


/* Our Profile */
.img-posisi {
    display: flex;
    text-align: center;
    margin-top: 50px;
    justify-content: space-around;
}
.our-profile1{
    background: linear-gradient(to top, #FF6F91, #FFC1A6);
    height: 200px;
}
figcaption{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
.image-item {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
}

/* Gambar Makanan */
#img1 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(../assets/brownies.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#img2 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(../assets/milkshake.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#img3 {
    border: 1px solid;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url(../assets/somtam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    height: 500px;
    border: 1px solid;
}

@media only screen and (min-width: 600px) {
.navi-content {
    flex-direction: column;
}
